<h1>пример - Пользователи ИБ</h1>

<div><a asp-action="Create">Регистрация</a></div>
<div><a asp-action="Login">Войти</a></div>
<div><a asp-action="Secret">Секретная страница только для зарегистрированных пользователей, если пользователь не зарегистрирован то будет перенаправление</a></div>
<p>

Общий список пользователей из базы данных с GUID - для примера (вообще не безопасно)

<ul>
@foreach(var user in @Model.ВсеПользователи.ПолучитьПользователей()) {
    <li><a asp-action="Edit" asp-route-id="@user.УникальныйИдентификатор">@user.Имя</a> - <b>@user.УникальныйИдентификатор</b></li>
}
</ul>

<h2>Текущий пользователь: @Model.ВсеПользователи.ТекущийПользователь()?.Имя</h2>

</p>

<h3>Куки:</h3>
<ul>
@foreach(var кука in @Model.Куки) {
    <li><b>@кука.Ключ</b> - @кука.Значение</li>
}
</ul>

<p>
    почитать про Куки <a href="https://ru.wikipedia.org/wiki/Cookie" target="_blank">можно на Википедии (ссылка откроется в новом окне)</a>
</p>
